/*extra small devices*/
@media (max-width: 576px) {
    .h4query1{
        font-size: 0.8rem!important;
    }
    .ulquery1{
        display: flex;
        flex-direction: column;
        margin-left: 0;

    }
    .increasemarginquery{
        margin-top: 2rem!important;
    }
    .footerquery1{
       
        /* justify-content: space-between;*/
        display: block!important;
        
    
    }
    .quoteQuery1{
        font-size: 3rem!important;
        margin-top: 2rem;
    }
    .quoteQuery2{
        font-size: 1.1rem!important;
        margin-top: 0.5rem;

    }
    .counterafterquery{
        display: flex!important;
        flex-direction: row!important;
        justify-content: space-evenly!important;
        align-items: center!important;

    }
    
    .counterquery1{
        font-size: 1rem!important;
        margin-left: 0.5rem!important;
        margin-right: 0.5rem!important;
        text-align: left!important;
    }
    .counterquery2{
        font-size: 1rem;
        margin-left: 0.5rem!important;
        margin-right: 0.5rem!important;
        text-align: left!important;
    }
    .increasefont1{
        font-size: 3.0rem!important;
    }
    .increasefont2{font-size: 2.0rem!important;}
    .banner1,.banner2,.banner3,.banner4{
        height:20rem!important;
        width:20rem!important;
    }
    .text-nowrap1{
        white-space: nowrap;
     }
    body{
        overflow-x: hidden!important;
    }
    .iframe2 {
        border: 0;
        height: 50%;
    }
    .vvv{
        overflow-x: hidden;
    }
    /*styling for scroll*/
html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 1rem;
   
    /* width of the entire scrollbar */
    transition: all .15s ease-in-out 0s;
}

body::-webkit-scrollbar-track {
    background: rgb(15, 11, 5);
    /* color of the tracking area */
    transition: all .15s ease-in-out 0s;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(purple,orange)!important;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid rgb(192, 187, 177);
    /* creates padding around scroll thumb */
    transition: all .15s ease-in-out 0s;
}

/*scroll for mozilla firefox*/
body {
    
    scrollbar-width: 1rem;
    /* "auto" or "thin" */
    scrollbar-color: rgb(255, 0, 43) rgb(172, 167, 158);
    /* scroll thumb and track */
    transition: all .15s ease-in-out 0s;
}

    
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {}